.parallax-geometric
  .parallax-wrap
    .inner-parallax.right
      div(data-enllax-ratio="-0.15" data-enllax-type="foreground")
        .parallax-figure
          |
          |
          span.oval.big
            span.gradient
          |
          |
      div(data-enllax-ratio="-0.1" data-enllax-type="foreground")
        .parallax-figure
          |
          |
          span.triangle
            span.gradient
          |
          |      
