.parallax-geometric
  .parallax-wrap
    .inner-parallax.big
      div(data-enllax-ratio="-0.15" data-enllax-type="foreground")
        .parallax-figure
          |
          |
          span.oval.small
            span.gradient
          |
          |
      div(data-enllax-ratio="-0.25" data-enllax-type="foreground")
        .parallax-figure
          |
          |
          span.triangle
            span.gradient
          |
          |
      div(data-enllax-ratio="-0.25" data-enllax-type="foreground")
        .parallax-figure
          |
          |
          span.dots
            |
            |
            svg.parallax-vertical.parallax-dot(fill='#cccccc', width='845', height='1099')
              use(xlink:href=assets+'/images/decoration/dot-deco.svg#dot')
            |
            |
          |
          |
      
