include ../../../cards/paper/paper.pug

+paper($t.blog_about, 'ion-ios-contact-outline', 'commodo augue. In dictum leo nec odio euismod pretium.', 'transparent')
  div
    ul.collection
      li.collection-item.avatar
        |
        |
        i.circle.icon.primary.material-icons date_range
        |
        |
        span.use-text-medium #{$t.blog_born}
        |
        |
        p Jan 9, 1974
      li.collection-item.avatar
        |
        |
        i.circle.icon.primary.material-icons local_phone
        |
        |
        span.use-text-medium #{$t.blog_phone}
        |
        |
        p (+62)8765432190
      li.collection-item.avatar
        |
        |
        i.circle.icon.primary.material-icons location_on
        |
        |
        span.use-text-medium #{$t.blog_address}
        |
        |
        p Chicendo Street no.105  Block A/5A - Barcelona, Spain