include ../artworks/clay-deco.pug

mixin parallax3d-planet(type='scroll')
  .parallax-3d
    if type === 'hover'
      .parallax-scene
        .planet
          #scene1
            div(data-depth="0.2")
              .obj-hover.ufo(style='left: -50px; top: -240px')
                +clay-deco(assets+'/images/decoration/clay-ufo.png', 'double-primary')
            div(data-depth="0.3")
              .obj-hover.noodle(style='left: -60px; top: -260px')
                +clay-deco(assets+'/images/decoration/clay-noodle.png', 'primary-dark')
            div(data-depth="0.2")
              .obj-hover.wormhole(style='right: 0px; top: 320px')
                +clay-deco(assets+'/images/decoration/clay-wormhole.png', 'double-main')
            div(data-depth="0.4")
              .obj-hover.bom(style='right: -200px; top: 250px')
                +clay-deco(assets+'/images/decoration/clay-bom.png', 'accent')
            div(data-depth="0.3")
              .obj-hover.ball(style='right: -20px; top: 520px')
                +clay-deco(assets+'/images/decoration/clay-ball.png', 'triple-main')
            div(data-depth="0.4")
              .obj-hover.ring(style='right: -200px; top: 470px')
                +clay-deco(assets+'/images/decoration/clay-ring2.png', 'primary-light')
    if type === 'scroll'
      .parallax-wrap
        .planet
          .inner-parallax.start
            .obj-scroll
              div(data-enllax-ratio="-0.15" data-enllax-type="foreground")
                .ufo(style='left: 40px; top: 80px')
                  +clay-deco(assets+'/images/decoration/clay-ufo.png', 'double-primary')
            .obj-scroll
              div(data-enllax-ratio="-0.15" data-enllax-type="foreground")
                .noodle(style='left: 150px; top: -80px')
                  +clay-deco(assets+'/images/decoration/clay-noodle.png', 'primary-dark')
          .inner-parallax.end
            .obj-scroll
              div(data-enllax-ratio="-0.15" data-enllax-type="foreground")
                .wormhole(style='right: -40px; top: 30px')
                  +clay-deco(assets+'/images/decoration/clay-wormhole.png', 'double-main')
            .obj-scroll
              div(data-enllax-ratio="-0.15" data-enllax-type="foreground")
                .bom(style='right: 30px; top: -120px')
                  +clay-deco(assets+'/images/decoration/clay-bom.png', 'accent')
            .obj-scroll
              div(data-enllax-ratio="-0.15" data-enllax-type="foreground")
                .ball(style='right: -20px; bottom: -50px')
                  +clay-deco(assets+'/images/decoration/clay-ball.png', 'triple-main')
            .obj-scroll
              div(data-enllax-ratio="-0.15" data-enllax-type="foreground")
                .ring(style='right: 100px; top: -140px')
                  +clay-deco(assets+'/images/decoration/clay-ring2.png', 'primary-light')
