include ../artworks/clay-deco.pug

mixin parallax3d-snail(type='scroll')
  .parallax-3d
    if type === 'hover'
      .parallax-scene
        .snail
          #scene1
            div(data-depth="0.2")
              .obj-hover.ball(style='left: 100px; top: 60px')
                +clay-deco(assets+'/images/decoration/clay-ball.png', 'double-main')
            div(data-depth="0.3")
              .obj-hover.plate(style='left: 180px; top: -100px')
                +clay-deco(assets+'/images/decoration/clay-plate.png', 'secondary-light')
            div(data-depth="0.2")
              .obj-hover.flower(style='right: 0px; top: 320px')
                +clay-deco(assets+'/images/decoration/clay-flower.png', 'primary-light')
            div(data-depth="0.3")
              .obj-hover.worm-hole(style='right: -200px; top: 250px')
                +clay-deco(assets+'/images/decoration/clay-wormhole.png', 'secondary-light')
    if type === 'scroll'
      .parallax-wrap
        .snail
          .inner-parallax.start
            .obj-scroll
              div(data-enllax-ratio="-0.15" data-enllax-type="foreground")
                .obj-hover.ball(style='left: 100px; top: 60px')
                  +clay-deco(assets+'/images/decoration/clay-ball.png', 'double-main')
            .obj-scroll
              div(data-enllax-ratio="-0.15" data-enllax-type="foreground")
                .obj-hover.plate(style='left: 180px; top: -100px')
                  +clay-deco(assets+'/images/decoration/clay-plate.png', 'secondary-light')
          .inner-parallax.end
            .obj-scroll
              div(data-enllax-ratio="-0.15" data-enllax-type="foreground")
                .obj-hover.flower(style='right: -40px; top: 70px')
                  +clay-deco(assets+'/images/decoration/clay-flower.png', 'secondary-light')
            .obj-scroll
              div(data-enllax-ratio="-0.2" data-enllax-type="foreground")
                .obj-hover.wormhole(style='right: 30px; top: -80px')
                  +clay-deco(assets+'/images/decoration/clay-wormhole.png', 'secondary-light')
