// #### SEARCH ####

section.search-banner
  .search
    .input-field
      |
      |
      i.material-icons.prefix search
      |
      |
      input#search_product(type='text' placeholder=$t.list_search)
      |
      |