.filter-style
  .root-tab
    .tab-filter#collection-tab
      |
      |
      button.btn.waves-effect.selected(data-filter="all") All
      |
      |
      button.btn.waves-effect(data-filter="product_result") Items
      |
      |
      button.btn.waves-effect(data-filter="collection") Collection
      |
      |
      button.btn.waves-effect(data-filter="creators") Creators
      |
      |
    h6.show-md-up
      | Show #{products.length} Result