.root-progress
  .wrap
    h5.title-progress.use-text-subtitle.mb-3.text-center.text-uppercase
      | #{$t.profile.stats_subtitle1}
    ul#progress.zero
      li
        .icon-progress
          i.ion-md-clipboard
        .progress-profile
          .text-progress
            p Adobe Photoshop assessment score
            p 7/10
          .progress.progress-bg
            .determinate.progress-linear(style='width: 70%')
      li
        .icon-progress
          i.ion-md-clipboard
        .progress-profile
          .text-progress
            p 3D Design Modeling assessment score
            p 8/10
          .progress.progress-bg
            .determinate.progress-linear(style='width: 80%')
      li
        .icon-progress
          i.ion-md-clipboard
        .progress-profile
          .text-progress
            p Project Complete
            p 7/10
          .progress.progress-bg
            .determinate.progress-linear(style='width: 70%')
      li
        .icon-progress
          i.ion-md-clipboard
        .progress-profile
          .text-progress
            p Grade Point Average
            p 4.5/5
          .progress.progress-bg
            .determinate.progress-linear(style='width: 90%')
