include ../../artworks/clay-deco.pug

.clay-parallax
  .parallax-wrap
    .inner-parallax.end
      div(data-enllax-ratio="-0.15" data-enllax-type="foreground")
        .parallax-figure
          |
          |
          .obj.big
            +clay-deco(assets+'/images/decoration/clay-flower.png', 'primary-light')
          |
          |
      div(data-enllax-ratio="-0.25" data-enllax-type="foreground")
        .parallax-figure
          |
          |
          .obj.small
            +clay-deco(assets+'/images/decoration/clay-web.png', 'accent')
          |
          |
    .inner-parallax.start
      div(data-enllax-ratio="-0.15" data-enllax-type="foreground")
        .parallax-figure
          |
          |
          .obj.big
            +clay-deco(assets+'/images/decoration/clay-flower.png', 'primary-light')
          |
          |
      div(data-enllax-ratio="-0.25" data-enllax-type="foreground")
        .parallax-figure
          |
          |
          .obj.small
            +clay-deco(assets+'/images/decoration/clay-bowl.png', 'secondary-light')
          |
          |
      
