nav.user-menu
  |
  |
  a.btn.btn-flat.waves-effect.show-sm-up(href=link.login)
    | #{$t.login}
  |
  |
  a.btn.waves-effect.primary-light.show-sm-up(href=link.register)
    | #{$t.register}
  |
  |
  span.spacer.vertical-divider.show-lg-up
  include ./settings
