include ../../artworks/clay-deco.pug

.clay-parallax
  .parallax-wrap
    .inner-parallax.left
      div(data-enllax-ratio="-0.15" data-enllax-type="foreground")
        .parallax-figure
          |
          |
          .obj.big
            +clay-deco(assets+'/images/decoration/clay-ufo.png', 'triple-main')
          |
          |
      div(data-enllax-ratio="-0.25" data-enllax-type="foreground")
        .parallax-figure
          |
          |
          .obj.small
            +clay-deco(assets+'/images/decoration/clay-ring.png', 'primary-light')
          |
          |
      
