-
  var statsData = [
    {
      icon: 'mdi-basketball',
      color: 'orange',
      title: 'Sport',
      play: 7
    },
    {
      icon: 'mdi-bike',
      color: 'green',
      title: 'Racing',
      play: 10
    },
    {
      icon: 'mdi-sword',
      color: 'pink',
      title: 'Fight',
      play: 2
    },
    {
      icon: 'mdi-cards-club',
      color: 'purple',
      title: 'Cards',
      play: 13
    }
  ];

include ../../icons3d.pug

.root-categories
  .row.spacing6.mt-1
    .col-10
      h5.title-progress.use-text-subtitle.mb-3.text-center.text-uppercase
        | #{$t.avatar.stats_subtitle2}
    each item, index in statsData
      .col-sm-5
        .wow.fadeInLeftShort(data-wow-offset="300" data-wow-delay=0.1 * index + 0.1 + "s" data-wow-duration="0.3s")
          .category
            .bg(class=item.color)
              +icons3d(item.icon, item.color)
            .text-categories
              p.name #{item.title}
              p
                | #{item.play}
                | Games played
