.root-progress
  .wrap
    h5.title-progress.use-text-subtitle.mb-3.text-center.text-uppercase
      | #{$t.avatar.stats_subtitle1}
    ul#progress.zero
      li
        .icon-progress
          i.ion-md-play
        .progress-profile
          .text-progress
            p Play game 10 days in a row
            p 7/10
          .progress.progress-bg
            .determinate.progress-linear(style='width: 70%')
      li
        .icon-progress
          i.ion-ios-apps
        .progress-profile
          .text-progress
            p Play game 10 days in a row
            p 8/10
          .progress.progress-bg
            .determinate.progress-linear(style='width: 80%')
      li
        .icon-progress
          i.ion-md-person
        .progress-profile
          .text-progress
            p Play game 10 days in a row
            p 6/10
          .progress.progress-bg
            .determinate.progress-linear(style='width: 60%')
      li
        .icon-progress
          i.ion-md-heart
        .progress-profile
          .text-progress
            p Play game 10 days in a row
            p 9/10
          .progress.progress-bg
            .determinate.progress-linear(style='width: 90%')
