mixin app-card(thumb, icon)
  .root.preview-card
    .avatar-img.avatar.icon
      |
      |
      img(src=icon alt="icon")/
      |
      |
    .card
      figure
        |
        |
        img(src=thumb alt="thumb")/
        |
        |
