include ../counter/counter.pug

#fintech-counter
  .container.root
    +counter(
      {
        title: $t.fintech.counter_users,
        count: 123,
        prefix: '+',
        suffix: 'M'
      }, {
        title: $t.fintech.counter_downloads,
        count: 456,
        prefix: '+',
        suffix: 'M'
      }, {
        title: $t.fintech.counter_platforms,
        count: 789,
        prefix: '+',
        suffix: 'K'
      }
    )
