#fintech-subscribe-form
  .subscribe-form
    .root
      .container.max-sm
        p.use-text-subtitle2 #{$t.blog_subscribe_desc}
        .form
          form
            .field
              .input-field.full-width.solo
                |
                |
                input(type="email" name="email" placeholder=$t.form_email)/
                |
                |
            |
            |
            button.btn.primary.button.waves-effect #{$t.blog_subscribe}
            |
            |
