-
  var logos = [
    imgAPI.logos[20],
    imgAPI.logos[62],
    imgAPI.logos[26],
    imgAPI.logos[35],
    imgAPI.logos[40],
    imgAPI.logos[30],
    imgAPI.logos[52]
  ]

.logo-group
  .container.root.fixed-width--md-up
    each logo, index in logos
      |
      |
      figure
        img(src=logo, alt="'logo' + index")/
      |
      |
