mixin arrow-button-large(text, href, fullHeight)
  .arrow-btn(class=fullHeight ? 'full-height' : '')
    |
    |
    a.btn-large.waves-effect(href=href)
      |
      |
      img(src=assets+'/images/inner/fog.png' alt='background')/
      |
      |
      span.deco
        span
        span
        span
      |
      |
      h2 #{text}
      |
      |
      i.icon.material-icons arrow_forward
      |
      |
    |
    |

