case cornerType
  when 'chat'
    include ./chat
  when 'nav'
    include ./page-nav
  default
    #corner-chat.corner-component
      include ./chat
    #corner-nav.corner-component
      include ./page-nav