.notification.alert.alert-dismissible.fade.show(role='alert')
  .wrapper
    .content
      .action #{$t.notif_msg}
      |
      |
      button.btn.btn-large.waves-effect.secondary(type='button', data-bs-dismiss='alert', aria-label='Close') #{$t.accept}
