#about-call-action
  .container.max-width-lg.root.fixed-width--lg-up
    .wow.fadeInUpShort(data-wow-offset='100', data-wow-delay='0.5s', data-aos-duration='0.5s')
      .action
        .wrap
          .fog
            .triple-main
            .triple-light
            .double-main
          h4.use-text-title2
            | #{$t.career_cta}
          .btn-area
            |
            |
            a.btn.button.btn-large.black.waves-effect(href=link.career)
              | #{$t.btn_join}
            |
            |
