mixin footer-deco
  .footer-deco
    .fogs
      block
      .fog
        .start
          .double-main
          .accent
          .triple-light
          .triple-main
        .end
          .double-main
          .accent
          .triple-light
          .triple-main
