include sample-page.pug

-
  var grandChild = [
    {
      name: 'Vivamus Condimentum',
      link: '#'
    },
    {
      name: 'Lorem',
      link: '#'
    },
    {
      name: 'Eu Rhoncus Odio',
      link: '#'
    },
    {
      name: 'Praesent Tristique',
      link: '#'
    }
  ]



  var mega = [
    {
      id: 'first_menu',
      name: 'First Menu',
      child: [
        {
          name: 'Eu Rhoncus Odio',
          thumb: imgAPI.ui[0],
          child: grandChild
        },
        {
          name: 'In Lorem',
          thumb: imgAPI.ui[1],
          child: grandChild
        },
        {
          name: 'Eu Rhoncus Odio',
          thumb: imgAPI.ui[2],
          child: grandChild
        },
        {
          name: 'Praesent Tristique',
          thumb: imgAPI.ui[3],
          child: grandChild
        },
        {
          name: 'Eu Rhoncus Odio',
          thumb: imgAPI.ui[4],
          child: grandChild
        },
        {
          name: 'In Lorem',
          thumb: imgAPI.ui[5],
          child: grandChild
        },
        {
          name: 'Eu Rhoncus Odio',
          thumb: imgAPI.ui[6],
          child: grandChild
        },
        {
          name: 'Praesent Tristique',
          thumb: imgAPI.ui[7],
          child: grandChild
        }
      ]
    },
    {
      id: 'second_menu',
      name: 'Second Menu',
      child: [
        {
          name: 'Eu Rhoncus Odio',
          thumb: imgAPI.ui[8],
          child: grandChild
        },
        {
          name: 'In Lorem',
          thumb: imgAPI.ui[9],
          child: grandChild
        },
        {
          name: 'Eu Rhoncus Odio',
          thumb: imgAPI.ui[10],
          child: grandChild
        },
        {
          name: 'Praesent Tristique',
          thumb: imgAPI.ui[0],
          child: grandChild
        },
        {
          name: 'Eu Rhoncus Odio',
          thumb: imgAPI.ui[11],
          child: grandChild
        },
        {
          name: 'In Lorem',
          thumb: imgAPI.ui[12],
          child: grandChild
        },
        {
          name: 'Eu Rhoncus Odio',
          thumb: imgAPI.ui[13],
          child: grandChild
        },
        {
          name: 'Praesent Tristique',
          thumb: imgAPI.ui[14],
          child: grandChild
        }
      ]
    },
    {
      id: 'third_menu',
      name: 'Third Menu',
      child: [
        {
          name: 'Eu Rhoncus Odio',
          thumb: imgAPI.ui[15],
          child: grandChild
        },
        {
          name: 'In Lorem',
          thumb: imgAPI.ui[16],
          child: grandChild
        },
        {
          name: 'Eu Rhoncus Odio',
          thumb: imgAPI.ui[17],
          child: grandChild
        },
        {
          name: 'Praesent Tristique',
          thumb: imgAPI.ui[8],
          child: grandChild
        },
        {
          name: 'Eu Rhoncus Odio',
          thumb: imgAPI.ui[9],
          child: grandChild
        },
        {
          name: 'In Lorem',
          thumb: imgAPI.ui[10],
          child: grandChild
        },
        {
          name: 'Eu Rhoncus Odio',
          thumb: imgAPI.ui[0],
          child: grandChild
        },
        {
          name: 'Praesent Tristique',
          thumb: imgAPI.ui[1],
          child: grandChild
        }
      ]
    },
    {
      id: 'fourth_menu',
      name: 'Fourth Menu',
      child: [
        {
          name: 'Eu Rhoncus Odio',
          thumb: imgAPI.ui[0],
          child: grandChild
        },
        {
          name: 'In Lorem',
          thumb: imgAPI.ui[11],
          child: grandChild
        },
        {
          name: 'Eu Rhoncus Odio',
          thumb: imgAPI.ui[12],
          child: grandChild
        },
        {
          name: 'Praesent Tristique',
          thumb: imgAPI.ui[13],
          child: grandChild
        },
        {
          name: 'Eu Rhoncus Odio',
          thumb: imgAPI.ui[14],
          child: grandChild
        },
        {
          name: 'In Lorem',
          thumb: imgAPI.ui[5],
          child: grandChild
        },
        {
          name: 'Eu Rhoncus Odio',
          thumb: imgAPI.ui[6],
          child: grandChild
        },
        {
          name: 'Praesent Tristique',
          thumb: imgAPI.ui[7],
          child: grandChild
        }
      ]
    },
    {
      id: 'sample_pages',
      name: 'Sample Pages',
      child: sample
    }
  ]
