include ./counter.pug

-
  var logos = [
    imgAPI.logos[17],
    imgAPI.logos[21],
    imgAPI.logos[26],
    imgAPI.logos[16],
    imgAPI.logos[28],
    imgAPI.logos[15],
    imgAPI.logos[23],
    imgAPI.logos[25],
    imgAPI.logos[14],
    imgAPI.logos[24],
    imgAPI.logos[13],
    imgAPI.logos[22],
    imgAPI.logos[20],
    imgAPI.logos[18],
    imgAPI.logos[30],
    imgAPI.logos[27],
    imgAPI.logos[19],
    imgAPI.logos[29]
  ];

mixin counter-carousel(title, desc, cover)
  #counter-carousel
    .root
      .bg
        .container
          figure
            |
            |
            img(src=cover, alt='background')/
            |
            |
      .slider-wrap
        .container.max-md
          p.use-text-title
            | #{title}
          p.use-text-subtitle2
            | #{desc}
        .carousel
          .slick-carousel#counter-logo-carousel
            each item, index in logos
              .item
                |
                |
                img(src=item, alt='logo')/
                |
                |
      +counter(
        {
          title: $t.about_counter1,
          count: 123,
          prefix: '+',
          suffix: 'M'
        }, {
          title: $t.about_counter2,
          count: 456,
          prefix: '+',
          suffix: 'K'
        }, {
          title: $t.about_counter3,
          count: 789,
          prefix: '+'
        }
      )
