.socmed-side-login
  |
  |
  button.btn.navi-btn.waves-effect
    i.ion-logo-facebook
    | Facebook
  |
  |
  button.btn.blue-btn.waves-effect
    i.ion-logo-twitter
    | Twitter
  |
  |
  button.btn.red-btn.waves-effect
    i.ion-logo-google
    | Google
  |
  |
