#blur-gradient-artwork
  .fogs
    .fog.start
      .ctx
        .double-main
        .accent
        .triple-light
        .triple-main
    .fog.end
      .ctx
        .double-main
        .accent
        .triple-light
        .triple-main
