mixin clay-deco(img, color)
  .clay-artworks
    .clay
      |
      |
      span.mask(
        style="mask-image: url("+img+"); mask-repeat: no-repeat; mask-size: 100%; -webkit-mask-image: url("+img+"); -webkit-mask-repeat: no-repeat; -webkit-mask-size: 100%;"
        class=color
      )
        img(src=img alt=clay)/
      |
      |
