mixin slider-art(id)
  .nft-slider-art
    .deco
      .figure(id='art-'+id)
        .inner
          .fog
            .triple-main
            .triple-dark
            .secondary-dark
            .triple-light
        .content
          block

