.parallax-blur
  .parallax-wrap
    .inner-parallax.left
      div(data-enllax-ratio="-0.15" data-enllax-type="foreground")
        .parallax-figure
          |
          |
          .fog
            .triple-main
            .primary-dark
            .secondary-dark
            .triple-light
          |
          |
      
