.liquid-parallax
  .parallax-wrap
    .inner-parallax.right
      div(data-enllax-ratio="-0.15" data-enllax-type="foreground")
        .parallax-figure
          |
          |
          div
            img(src=imgAPI.ai[14] alt="parallax")/
          |
          |
      
