#slide_menu.sidenav.mobile-nav
  ul.collection
    each item in menu[menuLanding]
      li.collection-item
        a.sidenav-close.waves-effect.menu-list(href='#' + item.name)
          | #{$t.ai_landing['header_' + item.name]}
  .dropdown-divider
  .collection
      ul
        each item in ['login', 'register']
          li.collection-item
            |
            |
            a.sidenav-close.waves-effect.menu-list(href=link[item])
              | #{$t[item]}
            |
            |
